# Dependencies
**/node_modules
**/pnpm-lock.yaml
**/package-lock.json
**/yarn.lock

# Next.js
**/.next/
**/out/

# Environment Variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# OS Files
.DS_Store
Thumbs.db

# Starter Kit (Keeping original PDFs, but ignoring extracted versions if any)
**/tmp_pdfs/
**/extract.py
